<div class="flight-header">
  <div class="header-container">
    <!--left side logo-->
    <div class="left-section">
      <a href="#">
        <span class="icon-menu"></span>
      </a>
      <a  routerLink="/FlightHomeComponent" routerLinkActive="active">
        <img src="../../assets/images/logo.png" alt="home logo" width="170" class="logo" />
      </a>
    </div>
    <!-- right side image-->
    <div class="right-section">
      <a class="user-img" style="background-image: url('../assets/images/user-img.jpg')" href="#"></a>
      <a href="#">
        <span class="icon-settings"></span>
      </a>
    </div>
  </div>
</div>