.flight-header{
    height: 60px;
    background-color: #242536;
    display: table;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 1px #242536;
    position: fixed;
    top: 1;
    z-index: 3;
}
 .flight-header .header-container{
    display: table-row
}
 .flight-header .right-section ,.flight-header .left-section{
    max-height: 60px;
    display: table-cell;
    vertical-align: middle
}
 .flight-header .icon-menu,.right-section .icon-settings{
    line-height: 60px
}
 .flight-header .icon-menu{
    padding-left:15px
}
 .flight-header .logo{
    margin-left: 20px
}
 .right-section .icon-settings{
    margin: 0 20px
}
 .flight-header .flight-logo{
    margin: 0 5px
}
 .flight-header .right-section{
    text-align: right;
    position: relative
}
 .flight-header .right-section .user-img{
     width: 30px;
    height: 30px;
    position: absolute;
    top:15px;
    right: 60px;
     border-radius: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
}
 